<div class="d-flex p-2 bd-highlight justify-content-around mb-3">
  </button>
  <form action="/records/clockin/{{user.id}}" method="POST" style="display: inline;">
    <button type="submit" class="btn btn-outline-success btn-lg">上班卡</button>
  </form>
  </button>
  <form action="/records/clockout/{{user.id}}" method="POST" style="display: inline;">
    <button type="submit" class="btn btn-outline-danger btn-lg">下班卡</button>
  </form>
</div>


<br />
<br />
<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">日期</th>
      <th scope="col">上班卡時間</th>
      <th scope="col">下班卡時間</th>
      <th scope="col">工作時數</th>
      <th scope="col">打卡狀態</th>
      <th scope="col">出缺勤紀錄</th>
    </tr>
  </thead>
  <tbody>
    {{#each records}}
    <tr>
      <td>{{this.date}}</td>
      <td>{{formatDateTime this.clockin}}</td>
      <td>{{formatDateTime this.clockout}}</td>
      <td>{{this.duration}}</td>
      <td>{{this.status}}</td>
      {{#if this.isAttendance}}
      <td>attendance</td>
      {{else}}
      <td>absence</td>
      {{/if}}
    </tr>
    {{/each}}
  </tbody>
</table>